<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DefaultBone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1378},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>armature.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1182,1636}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,193},{1182,1636}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>armour0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2420,2398},{702,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,416}}</string>
                <key>sourceSize</key>
                <string>{702,416}</string>
            </dict>
            <key>armour1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3622},{690,420}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,420}}</string>
                <key>sourceSize</key>
                <string>{696,422}</string>
            </dict>
            <key>armour2tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,3478},{676,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,510}}</string>
                <key>sourceSize</key>
                <string>{676,510}</string>
            </dict>
            <key>armour3tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,2944},{676,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,532}}</string>
                <key>sourceSize</key>
                <string>{676,532}</string>
            </dict>
            <key>belt0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2486,3112},{580,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,294}}</string>
                <key>sourceSize</key>
                <string>{580,294}</string>
            </dict>
            <key>belt1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2486,2816},{580,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,294}}</string>
                <key>sourceSize</key>
                <string>{580,294}</string>
            </dict>
            <key>glove0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,2056},{1188,340}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,90},{1188,340}}</string>
                <key>sourceSize</key>
                <string>{1192,430}</string>
            </dict>
            <key>glove1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2454,1294},{1190,418}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{1190,418}}</string>
                <key>sourceSize</key>
                <string>{1192,430}</string>
            </dict>
            <key>glove2tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,1714},{1188,340}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,90},{1188,340}}</string>
                <key>sourceSize</key>
                <string>{1192,430}</string>
            </dict>
            <key>glove3tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,3622},{1186,416}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{1186,416}}</string>
                <key>sourceSize</key>
                <string>{1192,430}</string>
            </dict>
            <key>helmet0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,3016},{600,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,604}}</string>
                <key>sourceSize</key>
                <string>{600,604}</string>
            </dict>
            <key>helmet1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,3016},{600,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{600,602}}</string>
                <key>sourceSize</key>
                <string>{600,604}</string>
            </dict>
            <key>helmet2tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3016},{600,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,604}}</string>
                <key>sourceSize</key>
                <string>{600,604}</string>
            </dict>
            <key>helmet3tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{3646,1294},{408,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,310}}</string>
                <key>sourceSize</key>
                <string>{408,310}</string>
            </dict>
            <key>necklace0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{3710,360},{372,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,356}}</string>
                <key>sourceSize</key>
                <string>{372,356}</string>
            </dict>
            <key>necklace1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{3710,2},{372,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,356}}</string>
                <key>sourceSize</key>
                <string>{372,356}</string>
            </dict>
            <key>stock_draw_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1608},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>weapon0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{1266,1374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1266,1374}}</string>
                <key>sourceSize</key>
                <string>{1266,1374}</string>
            </dict>
            <key>weapon1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1640},{1266,1374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1266,1374}}</string>
                <key>sourceSize</key>
                <string>{1266,1374}</string>
            </dict>
            <key>weapon2tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1608},{1148,1334}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,311},{1148,1334}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>weapon3tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2454,2},{1254,1290}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,307},{1254,1290}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EquipArmature0.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:495945da8d9edf1a1f8be8fec61df253$</string>
            <key>textureFileName</key>
            <string>EquipArmature0.png</string>
        </dict>
    </dict>
</plist>
