<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,3438},{222,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,290}}</string>
                <key>sourceSize</key>
                <string>{222,290}</string>
            </dict>
            <key>armour0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1378},{702,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,416}}</string>
                <key>sourceSize</key>
                <string>{702,416}</string>
            </dict>
            <key>armour1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{690,420}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,420}}</string>
                <key>sourceSize</key>
                <string>{696,422}</string>
            </dict>
            <key>armour2tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{676,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,510}}</string>
                <key>sourceSize</key>
                <string>{676,510}</string>
            </dict>
            <key>armour3tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,694},{676,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,532}}</string>
                <key>sourceSize</key>
                <string>{676,532}</string>
            </dict>
            <key>belt0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2204,2},{580,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,294}}</string>
                <key>sourceSize</key>
                <string>{580,294}</string>
            </dict>
            <key>belt1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2204,2},{580,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,294}}</string>
                <key>sourceSize</key>
                <string>{580,294}</string>
            </dict>
            <key>chestbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,680},{450,580}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,580}}</string>
                <key>sourceSize</key>
                <string>{452,580}</string>
            </dict>
            <key>foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,3662},{294,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,388}}</string>
                <key>sourceSize</key>
                <string>{294,388}</string>
            </dict>
            <key>glove0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2226,3800},{284,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,338}}</string>
                <key>sourceSize</key>
                <string>{284,338}</string>
            </dict>
            <key>glove1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,3670},{340,416}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{340,416}}</string>
                <key>sourceSize</key>
                <string>{342,428}</string>
            </dict>
            <key>glove2tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2226,3800},{284,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,338}}</string>
                <key>sourceSize</key>
                <string>{284,338}</string>
            </dict>
            <key>glove3tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,3252},{340,416}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{340,416}}</string>
                <key>sourceSize</key>
                <string>{342,428}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,2688},{310,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,374}}</string>
                <key>sourceSize</key>
                <string>{310,374}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2688},{448,562}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{448,562}}</string>
                <key>sourceSize</key>
                <string>{464,562}</string>
            </dict>
            <key>helmet0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2082},{600,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,604}}</string>
                <key>sourceSize</key>
                <string>{600,604}</string>
            </dict>
            <key>helmet1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1372},{600,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{600,602}}</string>
                <key>sourceSize</key>
                <string>{600,604}</string>
            </dict>
            <key>helmet2tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2082},{600,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,604}}</string>
                <key>sourceSize</key>
                <string>{600,604}</string>
            </dict>
            <key>helmet3tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,3252},{408,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,310}}</string>
                <key>sourceSize</key>
                <string>{408,310}</string>
            </dict>
            <key>leftfoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1976},{298,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{298,328}}</string>
                <key>sourceSize</key>
                <string>{380,328}</string>
            </dict>
            <key>leftleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,3662},{380,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,328}}</string>
                <key>sourceSize</key>
                <string>{380,328}</string>
            </dict>
            <key>necklace0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,3064},{372,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,356}}</string>
                <key>sourceSize</key>
                <string>{372,356}</string>
            </dict>
            <key>necklace1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,3064},{372,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,356}}</string>
                <key>sourceSize</key>
                <string>{372,356}</string>
            </dict>
            <key>pieces.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4006},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>rightleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2226,3438},{304,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{304,360}}</string>
                <key>sourceSize</key>
                <string>{330,360}</string>
            </dict>
            <key>stock_draw_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4030},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>weapon0tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1266,1374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1266,1374}}</string>
                <key>sourceSize</key>
                <string>{1266,1374}</string>
            </dict>
            <key>weapon1tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1266,1374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1266,1374}}</string>
                <key>sourceSize</key>
                <string>{1266,1374}</string>
            </dict>
            <key>weapon2tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{1148,1334}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,311},{1148,1334}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>weapon3tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2714},{1254,1290}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,307},{1254,1290}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newbaganimation0.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f02c9b270f851dfb221293b380a1545b:f43d850c0ebea893c0bf14b7709aa25d:264b691857c4f41b9d17678ea1add4d3$</string>
            <key>textureFileName</key>
            <string>newbaganimation0.png</string>
        </dict>
    </dict>
</plist>
