<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{402,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,640}}</string>
                <key>sourceSize</key>
                <string>{402,640}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1238},{372,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,504}}</string>
                <key>sourceSize</key>
                <string>{372,504}</string>
            </dict>
            <key>2013-8-27 18-52-46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,428}}</string>
                <key>sourceSize</key>
                <string>{960,428}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{494,958}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,958}}</string>
                <key>sourceSize</key>
                <string>{494,958}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1736},{282,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,220}}</string>
                <key>sourceSize</key>
                <string>{282,220}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1612},{380,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,472}}</string>
                <key>sourceSize</key>
                <string>{380,472}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{948,804}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,804}}</string>
                <key>sourceSize</key>
                <string>{948,804}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1480},{292,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,224}}</string>
                <key>sourceSize</key>
                <string>{292,224}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1404},{270,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,360}}</string>
                <key>sourceSize</key>
                <string>{270,360}</string>
            </dict>
            <key>DefaultBone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1506},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>Knight_f-hero_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,1006},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,498},{904,916}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{904,916}}</string>
                <key>sourceSize</key>
                <string>{904,916}</string>
            </dict>
            <key>stock_draw_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>weapon_f-hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{346,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,138}}</string>
                <key>sourceSize</key>
                <string>{346,138}</string>
            </dict>
            <key>weapon_f-knife.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,504},{500,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,118}}</string>
                <key>sourceSize</key>
                <string>{500,118}</string>
            </dict>
            <key>weapon_f-sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,1006},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>weapon_f-sword2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1404},{500,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,74}}</string>
                <key>sourceSize</key>
                <string>{500,74}</string>
            </dict>
            <key>weapon_f-sword3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{500,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,120}}</string>
                <key>sourceSize</key>
                <string>{500,120}</string>
            </dict>
            <key>weapon_f-sword4.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1506},{500,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,182}}</string>
                <key>sourceSize</key>
                <string>{500,182}</string>
            </dict>
            <key>weapon_f-sword5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1006},{498,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{498,110}}</string>
                <key>sourceSize</key>
                <string>{500,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27ea16519fd833d0b82c9376016ee329$</string>
            <key>textureFileName</key>
            <string>100.png</string>
        </dict>
    </dict>
</plist>
