<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1434},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>armour1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1174},{120,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,102}}</string>
                <key>sourceSize</key>
                <string>{120,102}</string>
            </dict>
            <key>armour2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1564},{92,74}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{92,74}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>armour3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,904},{268,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,230}}</string>
                <key>sourceSize</key>
                <string>{268,230}</string>
            </dict>
            <key>bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1756},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1564},{102,74}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{102,74}}</string>
                <key>sourceSize</key>
                <string>{120,134}</string>
            </dict>
            <key>bagbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1790,1152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1790,1152}}</string>
                <key>sourceSize</key>
                <string>{1790,1152}</string>
            </dict>
            <key>bagfix.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1304},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bagpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1296},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1174},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>belt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1994},{104,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,50}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
            <key>closenormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1174},{106,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>closepress.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1648},{106,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>empty_equipment_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1434},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>glove.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1304},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>glove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1666},{74,96}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{74,96}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>glove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1666},{92,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{92,86}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
            <key>glove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{208,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,244}}</string>
                <key>sourceSize</key>
                <string>{208,244}</string>
            </dict>
            <key>helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1174},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>helmet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1564},{72,82}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{72,82}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>helmet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1768},{184,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,220}}</string>
                <key>sourceSize</key>
                <string>{184,220}</string>
            </dict>
            <key>helmet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1990},{54,54}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>necklace.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1304},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>necklace1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1498},{166,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,150}}</string>
                <key>sourceSize</key>
                <string>{166,150}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1174},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shield1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1658},{74,82}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{74,82}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
            <key>shield2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{266,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,268}}</string>
                <key>sourceSize</key>
                <string>{266,268}</string>
            </dict>
            <key>skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1890},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{322,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,282}}</string>
                <key>sourceSize</key>
                <string>{322,282}</string>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,472},{238,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,224}}</string>
                <key>sourceSize</key>
                <string>{238,224}</string>
            </dict>
            <key>weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1760},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>weapon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,212},{242,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,258}}</string>
                <key>sourceSize</key>
                <string>{242,258}</string>
            </dict>
            <key>weapon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1768},{224,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,212}}</string>
                <key>sourceSize</key>
                <string>{224,212}</string>
            </dict>
            <key>weapon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,698},{204,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,234}}</string>
                <key>sourceSize</key>
                <string>{204,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SampleChangeEquip_UI0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2772c3f6ec89c93f266690ff4cdb82e1$</string>
            <key>textureFileName</key>
            <string>SampleChangeEquip_UI0.png</string>
        </dict>
    </dict>
</plist>
