<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_starshining_cell-bong_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>fx_starshining_cell-bong_light_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>fx_starshining_cell-dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>fx_starshining_cell-g07_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>fx_starshining_cell-xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,97},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>fx_starshining_cell-xingxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,70},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_starshining.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e137988b17a9d5e555ce81a16676e69$</string>
            <key>textureFileName</key>
            <string>fx_starshining.png</string>
        </dict>
    </dict>
</plist>
