<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>armature.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>960</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>960</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>armour0tex.png</key>
			<dict>
				<key>width</key>
				<integer>351</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>351</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>armour1tex.png</key>
			<dict>
				<key>width</key>
				<integer>348</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>211</integer>
				<key>x</key>
				<integer>995</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>armour2tex.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>1345</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>armour3tex.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>338</integer>
				<key>originalHeight</key>
				<integer>266</integer>
				<key>x</key>
				<integer>1685</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>belt0tex.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>2025</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>belt1tex.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>290</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>2317</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>DefaultBone.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>2609</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>glove0tex.png</key>
			<dict>
				<key>width</key>
				<integer>596</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>596</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>2725</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>glove1tex.png</key>
			<dict>
				<key>width</key>
				<integer>596</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>596</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>3323</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>glove2tex.png</key>
			<dict>
				<key>width</key>
				<integer>596</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>596</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>glove3tex.png</key>
			<dict>
				<key>width</key>
				<integer>596</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>596</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>598</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>helmet0tex.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>1196</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>helmet1tex.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>1498</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>helmet2tex.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>1800</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>helmet3tex.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>2102</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>necklace0tex.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>2308</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>necklace1tex.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>2496</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>stock_draw_circle.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>2684</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>weapon0tex.png</key>
			<dict>
				<key>width</key>
				<integer>633</integer>
				<key>height</key>
				<integer>687</integer>
				<key>originalWidth</key>
				<integer>633</integer>
				<key>originalHeight</key>
				<integer>687</integer>
				<key>x</key>
				<integer>2694</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>weapon1tex.png</key>
			<dict>
				<key>width</key>
				<integer>633</integer>
				<key>height</key>
				<integer>687</integer>
				<key>originalWidth</key>
				<integer>633</integer>
				<key>originalHeight</key>
				<integer>687</integer>
				<key>x</key>
				<integer>3329</integer>
				<key>y</key>
				<integer>962</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>weapon2tex.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>960</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>960</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1651</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>weapon3tex.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>960</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>960</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>1651</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>EquipArmature0.png</string>
			<key>realTextureFileName</key>
			<string>EquipArmature0.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>