<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,659},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>armour1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,593},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>armour2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,888},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>armour3.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,457},{134,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,115}}</string>
                <key>sourceSize</key>
                <string>{134,115}</string>
            </dict>
            <key>bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,593},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,670},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>bagbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{895,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{895,576}}</string>
                <key>sourceSize</key>
                <string>{895,576}</string>
            </dict>
            <key>bagfix.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,725},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bagpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,966},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,593},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>belt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,791},{52,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,25}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>closenormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,839},{53,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,35}}</string>
                <key>sourceSize</key>
                <string>{53,35}</string>
            </dict>
            <key>closepress.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,802},{53,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,35}}</string>
                <key>sourceSize</key>
                <string>{53,35}</string>
            </dict>
            <key>empty_equipment_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,659},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>glove.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,725},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>glove1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,593},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>glove2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,966},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>glove3.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{104,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,122}}</string>
                <key>sourceSize</key>
                <string>{104,122}</string>
            </dict>
            <key>helmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,593},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>helmet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,841},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>helmet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,892},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>helmet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,802},{27,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>necklace.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,659},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>necklace1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,756},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,736},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shield1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,841},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,59}</string>
            </dict>
            <key>shield2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{133,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,134}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,593},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{161,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,141}}</string>
                <key>sourceSize</key>
                <string>{161,141}</string>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,239},{119,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,112}}</string>
                <key>sourceSize</key>
                <string>{119,112}</string>
            </dict>
            <key>weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,670},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>weapon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,108},{121,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,129}}</string>
                <key>sourceSize</key>
                <string>{121,129}</string>
            </dict>
            <key>weapon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>weapon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,353},{102,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,117}}</string>
                <key>sourceSize</key>
                <string>{102,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SampleChangeEquip_UI0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03ab1fcfa05c43688db4ba2dbe9dada9:f524d7e7e362d45be1f1c48d1457a98b:7a0a06afae355044d15f46cf2435d2d0$</string>
            <key>textureFileName</key>
            <string>SampleChangeEquip_UI0.png</string>
        </dict>
    </dict>
</plist>
