<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gap01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,861},{43,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,155}}</string>
                <key>sourceSize</key>
                <string>{43,155}</string>
            </dict>
            <key>gap02.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,579},{52,161}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,161}}</string>
                <key>sourceSize</key>
                <string>{52,165}</string>
            </dict>
            <key>gap03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,735},{144,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{144,93}}</string>
                <key>sourceSize</key>
                <string>{144,95}</string>
            </dict>
            <key>gap04.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,442},{27,177}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,177}}</string>
                <key>sourceSize</key>
                <string>{27,181}</string>
            </dict>
            <key>gap05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,295},{29,142}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,142}}</string>
                <key>sourceSize</key>
                <string>{29,148}</string>
            </dict>
            <key>gap06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,742},{101,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,115}}</string>
                <key>sourceSize</key>
                <string>{101,117}</string>
            </dict>
            <key>grass01.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,859},{104,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,152}}</string>
                <key>sourceSize</key>
                <string>{104,152}</string>
            </dict>
            <key>grass02.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,326},{117,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,134}}</string>
                <key>sourceSize</key>
                <string>{117,134}</string>
            </dict>
            <key>grass03.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,671},{88,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>grass04.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,853},{98,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,44}}</string>
                <key>sourceSize</key>
                <string>{98,44}</string>
            </dict>
            <key>grass05.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,881},{140,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>grass06.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,923},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>lake.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{302,609},{172,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,124}}</string>
                <key>sourceSize</key>
                <string>{172,124}</string>
            </dict>
            <key>lg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,741},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>lg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>lg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,442},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>lg04.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{663,858},{78,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>manm01.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,834},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>manm02.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,712},{25,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,99}}</string>
                <key>sourceSize</key>
                <string>{25,99}</string>
            </dict>
            <key>manm03.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,785},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>manm04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,326},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>manm05.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,513},{64,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,45}}</string>
                <key>sourceSize</key>
                <string>{64,45}</string>
            </dict>
            <key>mount_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,671},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>mount_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,531}}</string>
                <key>sourceSize</key>
                <string>{55,531}</string>
            </dict>
            <key>mount_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{60,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,476}}</string>
                <key>sourceSize</key>
                <string>{60,476}</string>
            </dict>
            <key>mount_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{68,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,488}}</string>
                <key>sourceSize</key>
                <string>{68,488}</string>
            </dict>
            <key>mount_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{53,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,322}}</string>
                <key>sourceSize</key>
                <string>{53,322}</string>
            </dict>
            <key>mount_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,326},{48,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,206}}</string>
                <key>sourceSize</key>
                <string>{48,206}</string>
            </dict>
            <key>river01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,352},{106,188}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,188}}</string>
                <key>sourceSize</key>
                <string>{106,192}</string>
            </dict>
            <key>river02.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{273,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,151}}</string>
                <key>sourceSize</key>
                <string>{273,151}</string>
            </dict>
            <key>river03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,471},{154,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{154,176}}</string>
                <key>sourceSize</key>
                <string>{154,186}</string>
            </dict>
            <key>river04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,326},{107,163}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,163}}</string>
                <key>sourceSize</key>
                <string>{107,171}</string>
            </dict>
            <key>rock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,712},{71,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>rock02.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,785},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{72,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>rock03.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,739},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>rock04.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,958},{38,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,71}}</string>
                <key>sourceSize</key>
                <string>{38,71}</string>
            </dict>
            <key>rock05.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,277},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>rock06.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,861},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>rock07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1013},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>rock08.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,953},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>rock09.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,764},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>rock10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,883},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>skeleton.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,75},{243,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,175}}</string>
                <key>sourceSize</key>
                <string>{243,175}</string>
            </dict>
            <key>struc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,460},{77,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,183}}</string>
                <key>sourceSize</key>
                <string>{77,183}</string>
            </dict>
            <key>struc02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,925},{97,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,111}}</string>
                <key>sourceSize</key>
                <string>{99,111}</string>
            </dict>
            <key>struc02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,45},{50,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,99}}</string>
                <key>sourceSize</key>
                <string>{50,99}</string>
            </dict>
            <key>struc02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,492},{41,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,239}}</string>
                <key>sourceSize</key>
                <string>{41,239}</string>
            </dict>
            <key>struc02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,312},{38,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,204}}</string>
                <key>sourceSize</key>
                <string>{38,204}</string>
            </dict>
            <key>struc02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,627},{42,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,163}}</string>
                <key>sourceSize</key>
                <string>{42,163}</string>
            </dict>
            <key>struc02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,277},{47,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,161}}</string>
                <key>sourceSize</key>
                <string>{47,161}</string>
            </dict>
            <key>struc02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,432},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>struc02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,352},{32,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,159}}</string>
                <key>sourceSize</key>
                <string>{32,159}</string>
            </dict>
            <key>struc02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,639},{71,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,171}}</string>
                <key>sourceSize</key>
                <string>{71,171}</string>
            </dict>
            <key>struc02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,539},{98,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,176}}</string>
                <key>sourceSize</key>
                <string>{98,176}</string>
            </dict>
            <key>struc02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,788},{49,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,63}}</string>
                <key>sourceSize</key>
                <string>{49,63}</string>
            </dict>
            <key>tower01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,953},{68,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{68,35}}</string>
                <key>sourceSize</key>
                <string>{76,35}</string>
            </dict>
            <key>tower01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,742},{117,25}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{117,25}}</string>
                <key>sourceSize</key>
                <string>{143,25}</string>
            </dict>
            <key>tower01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,269},{212,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{212,41}}</string>
                <key>sourceSize</key>
                <string>{216,41}</string>
            </dict>
            <key>tower01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{259,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,71}}</string>
                <key>sourceSize</key>
                <string>{259,71}</string>
            </dict>
            <key>tower01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,577},{174,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,30}}</string>
                <key>sourceSize</key>
                <string>{174,30}</string>
            </dict>
            <key>tower01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,685},{114,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,43}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>tower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,252},{240,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,188}}</string>
                <key>sourceSize</key>
                <string>{240,188}</string>
            </dict>
            <key>tower03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{109,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,291}}</string>
                <key>sourceSize</key>
                <string>{109,291}</string>
            </dict>
            <key>tower03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,535},{112,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,388}}</string>
                <key>sourceSize</key>
                <string>{112,388}</string>
            </dict>
            <key>tower03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,809},{23,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{23,112}}</string>
                <key>sourceSize</key>
                <string>{23,118}</string>
            </dict>
            <key>tower03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,534},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>tower04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,416},{114,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,68}}</string>
                <key>sourceSize</key>
                <string>{114,68}</string>
            </dict>
            <key>tower04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,535},{122,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,346}}</string>
                <key>sourceSize</key>
                <string>{122,346}</string>
            </dict>
            <key>tower04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{260,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,265}}</string>
                <key>sourceSize</key>
                <string>{260,265}</string>
            </dict>
            <key>tower04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,712},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>tower04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,925},{94,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,87}}</string>
                <key>sourceSize</key>
                <string>{94,87}</string>
            </dict>
            <key>tower04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,233},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>tower04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,883},{139,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,60}}</string>
                <key>sourceSize</key>
                <string>{141,64}</string>
            </dict>
            <key>tree01-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,532},{124,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{124,151}}</string>
                <key>sourceSize</key>
                <string>{124,155}</string>
            </dict>
            <key>tree01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,859},{88,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,153}}</string>
                <key>sourceSize</key>
                <string>{88,153}</string>
            </dict>
            <key>tree02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,291},{70,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,123}}</string>
                <key>sourceSize</key>
                <string>{70,123}</string>
            </dict>
            <key>tree03.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,730},{77,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,113}}</string>
                <key>sourceSize</key>
                <string>{77,113}</string>
            </dict>
            <key>tree04.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,445},{126,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,116}}</string>
                <key>sourceSize</key>
                <string>{126,116}</string>
            </dict>
            <key>tree05.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,742},{86,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{86,116}</string>
            </dict>
            <key>tree06.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,146},{85,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,66}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EgyptRes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfcebae6b9e764659a9ca0c7957adfdf$</string>
            <key>textureFileName</key>
            <string>EgyptRes.png</string>
        </dict>
    </dict>
</plist>
